.modal {
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal__content {
	padding: 20px 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 600px;
	height: 500px;
	border-radius: 10px;
	background-color: #fff;
	transform: translate(-50%, -50%);
	transition: all 0.5s;
}

.btn__close {
	position: absolute;
	top: 15px;
	right: 20px;
	background-color: none;
	cursor: pointer;
	font-size: 22px;
	color: blueviolet;
	background-color: transparent;
	transition: all 0.4s;
	border: none;
	transition: all 0.5s;
}
.btn__close:active {
	transform: translateY(5px);
}
