.left {
	/* background: url('https://images.unsplash.com/photo-1594964643411-aacab76a7c0e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80')
		center !important;
	opacity: 1;
	background-size: cover !important;
	background-repeat: no-repeat; */
}

.login {
	height: 600px;
}
